<div class="container-fluid">

  <div class="row">
    <div class="col-xs-5">
      <h1>Todo List</h1>
      <div class="input-group">
        <input placeholder="Todo Title"
               [(ngModel)]="newTodo.title"
               class="form-control">
        <span class="input-group-btn">
    <button (click)="onAddTodo(newTodo)"
            class="btn btn-default">
       Add
    </button>
  </span>
      </div>

      <ul class="list-group">
        <li *ngFor="let todo of todos; let i = index"
            [class.selected]="todo === selectedTodo"
            class="list-group-item">
          {{todo.title}}
          <a class="pull-right"
             (click)="onSelectTodo(todo)">
        <span class="glyphicon glyphicon-cog">
        </span>
          </a>
          <a class="pull-right"
             (click)="onDeleteTodo(i)">
        <span class="glyphicon
           glyphicon-remove"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-7">
      <app-todo-edit [todo]="selectedTodo"
                     *ngIf="selectedTodo">
      </app-todo-edit>
    </div>
  </div>

</div>
