<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/styles.css"/>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="container-fluid">
    <div class="jga-widget">
      <div class="jga-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1>A Heading of Size 1</h1>
    </div>
    <div class="jga-widget">
      <div class="jga-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h2>A Heading of Size 2</h2>
    </div>
    <div class="jga-widget">
      <div class="jga-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <img class="jga-content" src="http://lorempixel.com/400/200"/>
    </div>
    <div class="jga-widget">
      <div class="jga-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <p>If you’ve heard of Knightscope’s security robots, it was probably due to&nbsp;their high-profile failures:&nbsp;one would-be Robocop failed to detect a staircase and <a href="https://www.nytimes.com/2017/07/18/technology/robot-cop-fountain.html?mcubz=0&amp;mtrref=undefined" target="_blank" rel="noopener">killed itself by driving into a water fountain</a>, another <a href="http://abc7news.com/news/parents-upset-after-stanford-mall-robot-injures-child/1423093/" target="_blank" rel="noopener">ran over a toddler’s foot </a>in a shopping mall. On Wednesday, Knightscope&nbsp;<a href="https://www.theverge.com/2017/9/20/16338064/robot-security-guard-knightscope-k7" target="_blank" rel="noopener">announced two new potential fuckups</a>&nbsp;were joining the force: the K1 and the K5 buggy.</p>    </div>
  </div>
  <div class="jga-widget">
    <div class="jga-toolbar">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7t2Lu4t6n4E" frameborder="0" allowfullscreen></iframe>
  </div>
</body>
</html>
