<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Widgets
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu text-right">
        <li>
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/choose"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <div *ngFor="let widget of widgets">
            <div [ngSwitch]="widget.widgetType" class="grid-x grid-padding-x">
              <div class="large-12 cell widgets" *ngSwitchCase="'HEADING'">
                <h1 *ngIf="widget.size == 1">{{widget.text}}</h1>
                <h2 *ngIf="widget.size == 2">{{widget.text}}</h2>
                <h3 *ngIf="widget.size == 3">{{widget.text}}</h3>
                <h4 *ngIf="widget.size == 4">{{widget.text}}</h4>
                <h5 *ngIf="widget.size == 5">{{widget.text}}</h5>
                <h6 *ngIf="widget.size == 6">{{widget.text}}</h6>
                <div class="icons">
                  <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <a (click)="appSortable($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="large-12 cell widgets" *ngSwitchCase="'HTML'">
                <div [innerHTML]="widget.text"></div>
                <div class="icons">
                  <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <a (click)="appSortable($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="large-12 cell widgets" *ngSwitchCase="'IMAGE'">
                <p><img [src]="widget.url" [style.width.%]="widget.width" /></p>
                <div class="icons">
                  <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <a (click)="appSortable($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="large-12 cell widgets" *ngSwitchCase="'YOUTUBE'">
                <p>
                  <iframe [style.width.%]="widget.width" height="450" [src]="sanitizer.bypassSecurityTrustResourceUrl(widget.url)" frameborder="0" allowfullscreen></iframe>
                </p>
                <div class="icons">
                  <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <a (click)="appSortable($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
