<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a href="/assets/views/page/page-list.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Widgets
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu text-right">
        <li>
          <a href="/assets/views/widget/widget-choose.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <h1>GIZMODO</h1>
              <div class="icons">
                <a href="/assets/views/widget/widget-heading.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
              <div class="icons">
                <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <p><img src="http://lorempixel.com/400/200/" /></p>
              <div class="icons">
                <a href="/assets/views/widget/widget-image.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <p>Lorem Ipsum is simply dummy text <a href="" target="_blank">of the printing</a> and typesetting industry. Lorem Ipsum has been the <a href="" target="_blank">industry's standard dummy</a> text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="icons">
                <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
              <div class="icons">
                <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zz3kBovtubA" frameborder="0" allowfullscreen></iframe>
              </p>
              <div class="icons">
                <a href="/assets/views/widget/widget-youtube.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <div class="icons">
                <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a href="/assets/views/user/profile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
