<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Websites
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu text-right">
        <li>
          <a routerLink="/user/{{userId}}/website/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
              <h3>Website Name</h3>
            </div>
            <div class="large-3 cell">
              <h3>Created On</h3>
            </div>
            <div class="large-3 cell">
              <h3>Created By</h3>
            </div>
            <div class="large-3 cell clearfix text-right">
              <h3>Action</h3>
            </div>
          </div>
          <div class="grid-x grid-padding-x" *ngFor="let website of websites">
            <div class="large-3 cell">
              <p><a routerLink="/user/{{website.developerId}}/website/{{website._id}}/page">{{website.name}}</a></p>
            </div>
            <div class="large-3 cell">
              <p>{{website.createdOn | date:'shortDate'}}</p>
            </div>
            <div class="large-3 cell">
              <p>{{user?.firstName}} {{user?.lastName}}</p>
            </div>
            <div class="large-3 cell clearfix text-right">
              <a routerLink="/user/{{website.developerId}}/website/{{website._id}}"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
