<header>
	<div class="top-bar profile">
		<div class="top-bar-left">
			<ul class="menu">
				<li>
					Profile
				</li>
			</ul>
		</div>
	</div>
</header>
<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<div class="stdPadding">
				<div class="callout">
					<form method="post" id="profileForm">
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>Username</label>
								<input type="text" value="jannunzi" [ngModel]="user?.username" (ngModelChange)="user.username = $event" name="username" disabled="disabled" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>Email</label>
								<input type="email" value="jannunzi@gmail.com" [ngModel]="user?.email" (ngModelChange)="user.email = $event" name="email" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>First Name</label>
								<input type="text" value="Jose" [ngModel]="user?.firstName" (ngModelChange)="user.firstName = $event" name="firstName" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>Last Name</label>
								<input type="text" value="Annunziato" [ngModel]="user?.lastName" (ngModelChange)="user.lastName = $event" name="lastName" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-2 medium-2 cell">
								<a (click)="updateUser(user)" class="button customBtnColor">Update Profile</a>
							</div>
							<div class="large-2 medium-2 cell">
								<a (click)="goToWebsites()" class="button customBtnColor">Websites</a>
							</div>
							<div class="large-2 medium-2 cell">
								<a routerLink="/login" class="button customBtnColor">Logout</a>
							</div>
							<div class="large-2 medium-2 cell">
								<a (click)="deleteUser(user._id)" class="button customBtnColor">Delete User</a>
							</div>
						</div>
					</form>
					<div *ngIf="successFlag">
						{{success}}
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
<footer>
	<div class="bottom-bar">
		<div class="bottom-bar-right">
			<ul class="menu">
				<li>
					<a (click)="goToProfile()"><i class="fa fa-user" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
	</div>
</footer>