<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h1>Welcome to MEAN Stack Web Development - Angular 4</h1>
      <div class="login">
        <div class="callout">
          <h2>Log In</h2>
          <hr>
          <form method="post" id="loginForm">
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Username</label>
                <input type="text" placeholder="username" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Password</label>
                <input type="password" placeholder="password" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-2 cell">
                <a routerLink="/user/123" class="button customBtnColor">Login</a>
              </div>
              <div class="large-2 medium-2 cell">
                <a routerLink="/register" class="button customBtnColor">Register</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
