<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> New Page
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <form (ngSubmit)="createPage()" #f="ngForm">
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell field">
                <label>Name</label>
                <input type="text" placeholder="Page Name" name="name" ngModel #name="ngModel" required />
                <span class="help-block" *ngIf="!name.valid && name.touched">Please enter name!</span>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Description</label>
                <textarea rows="3" placeholder="Description" name="description" ngModel #description="ngModel"></textarea>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-2 cell">
                <button type="submit" [disabled]="!f.valid" class="button customBtnColor">Add Page</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
