<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Edit Page
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <form method="post" id="editPageForm">
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Name</label>
                <input type="text" placeholder="Blog Post" [ngModel]="page?.name" (ngModelChange)="page.name = $event" name="name" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Description</label>
                <textarea rows="3" [ngModel]="page?.description" (ngModelChange)="page.description = $event" name="description"></textarea>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-2 cell">
                <a (click)="update(page)" class="button customBtnColor">Update Page</a>
              </div>
              <div class="large-2 medium-2 cell">
                <a (click)="delete(page._id)" class="button customBtnColor">Delete Page</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a routerLink="/user/{{userId}}"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
