<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a routerLink="/user/123/website/123/page/123/widget"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Choose Widget
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <p><a routerLink="/user/123/website/123/page/123/widget/new/header">Header</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">Label</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">HTML</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">Text Input</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">Link</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">Button</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="/user/123/website/123/page/123/widget/new/image">Image</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="/user/123/website/123/page/123/widget/new/youtube">Youtube</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">Data Table</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a routerLink="">Repeater</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a routerLink="/user/123"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
