<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a href="/assets/views/widget/widget-list.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Choose Widget
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell widgets">
              <p><a href="/assets/views/widget/widget-heading.html">Header</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">Label</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">HTML</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">Text Input</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">Link</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">Button</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="/assets/views/widget/widget-image.html">Image</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="/assets/views/widget/widget-youtube.html">Youtube</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">Data Table</a></p>
            </div>
            <div class="large-12 cell widgets">
              <p><a href="">Repeater</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a href="/assets/views/user/profile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
