<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a routerLink="/user/123/website"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> New Website
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <form method="post" id="newWebsiteForm">
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Name</label>
                <input type="text" placeholder="Name" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Description</label>
                <textarea rows="3" placeholder="Description"></textarea>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-2 cell">
                <a routerLink="/user/123/website" class="button customBtnColor">Add Website</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a routerLink="/user/123"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
