<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<div class="register">
				<div class="callout">
					<h2>Register</h2>
					<hr>
					<form method="post" id="registerForm">
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>Username</label>
								<input type="text" placeholder="username" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>Password</label>
								<input type="password" placeholder="password" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-12 cell">
								<label>Verify Password</label>
								<input type="password" placeholder="verify password" />
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="large-2 medium-2 cell">
								<a href="/assets/views/user/profile.html" class="button customBtnColor">Register</a>
							</div>
							<div class="large-2 medium-2 cell">
								<a href="/assets/views/user/login.html" class="button customBtnColor">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>		
</div>