<form method="post" id="editImageForm">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>Widget Type</label>
      <input type="text" placeholder="Widget Type" disabled name="widgetType" [ngModel]="widget?.widgetType" (ngModelChange)="widget.widgetType = $event" />
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>Text</label>
      <input type="text" placeholder="Text" name="text" [ngModel]="widget?.text" (ngModelChange)="widget.text = $event" />
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>URL</label>
      <input type="text" placeholder="URL" name="url" [ngModel]="widget?.url" (ngModelChange)="widget.url = $event" />
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>Width</label>
      <select name="width" [ngModel]="widget?.width" (ngModelChange)="widget.width = $event">
        <option [value]="20" [selected]="widget?.width == '20'">20%</option>
        <option [value]="40" [selected]="widget?.width == '40'">40%</option>
        <option [value]="60" [selected]="widget?.width == '60'">60%</option>
        <option [value]="80" [selected]="widget?.width == '80'">80%</option>
        <option [value]="100" [selected]="widget?.width == '100'">100%</option>
      </select>
    </div>
  </div>
  <!-- <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>Upload</label>
      <input type="file" />
      <div class="grid-x grid-padding-x">
        <div class="large-2 medium-2 cell">
          <a routerLink="/user/123/website/123/page/123/widget" class="button deleteBtnColor">Upload Image</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="grid-x grid-padding-x">
    <div class="large-2 medium-2 cell">
      <a (click)="update(widget)" class="button customBtnColor">Update Image</a>
    </div>
    <div class="large-2 medium-2 cell">
      <a (click)="delete(widget._id)" class="button customBtnColor">Delete Image</a>
    </div>
  </div>
</form>