<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a href="/assets/views/widget/widget-list.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Edit Widget
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="stdPadding">
        <div class="callout">
          <form method="post" id="editHeadingForm">
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Name</label>
                <input type="text" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Text</label>
                <input type="text" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>URL</label>
                <input type="text" value="http://lorempixel.com/400/200/sports/1/" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Width</label>
                <input type="text" value="100%" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <label>Upload</label>
                <input type="file" />
                <div class="grid-x grid-padding-x">
                  <div class="large-2 medium-2 cell">
                    <a href="/assets/views/widget/widget-list.html" class="button deleteBtnColor">Upload Image</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-2 cell">
                <a href="/assets/views/widget/widget-list.html" class="button customBtnColor">Update Image</a>
              </div>
              <div class="large-2 medium-2 cell">
                <a href="/assets/views/widget/widget-list.html" class="button customBtnColor">Delete Image</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="bottom-bar">
    <div class="bottom-bar-right">
      <ul class="menu">
        <li>
          <a href="/assets/views/user/profile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
